<div class="task-container">
  <div class="heading">
    Rating nose width (1/10)
  </div>

  <div class="question">
    <div class="text">
      Insert question here
    </div>
    <button (click)="help()">?</button>
  </div>

  <div class="images">
    <label>
      <input type="radio" name="avatars" value="A">
      <img src="../../assets/nose/nose_1435.png">
    </label>

    <div class="text">
      vs
    </div>

    <label>
      <input type="radio" name="avatars" value="B">
      <img src="../../assets/nose/nose_1436.png">
    </label>
  </div>
</div>