<div class="task-container" *ngIf="!tasksFinished">
  <div class="heading">
    Rating nose width ({{ this.currentTask + 1 }}/{{ inputArray.length }})
  </div>

  <div class="question">
    <div class="text">
      {{ question }}
    </div>
    <button (click)="help()">?</button>
  </div>

  <div class="images">
    <label>
      <input type="radio" name="avatars" id="img1" value="win">
      <!-- <img src="../../assets/nose/nose_1435.png"> -->
      <img src="{{ img1 }}">
    </label>

    <div class="text">
      vs
    </div>

    <label>
      <input type="radio" name="avatars" id="img2" value="lose">
      <!-- <img src="../../assets/nose/nose_1436.png"> -->
      <img src="{{ img2 }}">
    </label>
  </div>

  <div class="next-button">
    <button (click)="next()">Next</button>
  </div>
</div>
<div *ngIf="tasksFinished">
  Tasks Finished!
</div>